<%- include('../layouts/head.ejs'); %>
<style>
    div {
    padding-left: 10px;
    }
</style>
<main>
    <div class="jumbotron bg-light">
        <h1>Add Author</h1>
    </div>

    <button type="button" onclick="ShowDivAdd()" class="btn btn-primary">Add</button>
    <div id="addAuthor" style="display:none;" class="form-add">
        <form action="/author/add" method="post">
            <div class="form-group">
                <label for="">Name</label><br>
                <input type="text" name="name"><br>
            </div>
            <div class="form-group">
                <label for="">Gender</label><br>
                <input type="text" name="gender"><br>
            </div>
            <div class="form-group">
                <label for="">Author id</label><br>
                <input type="text" name="author_id"><br>
            </div>
            <div class="form-group">
                <label for="">Country id</label><br>
                <input type="text" name="country_code">
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

  </main>
<script>
    function ShowDivAdd() {
    document.getElementById("addAuthor").style.display = "";
}
</script>

<%- include('../layouts/footer.ejs')%>