
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./layouts/head.ejs'); %>
</head>
<body class="container">

<header>
    <%- include('./layouts/header.ejs')%>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">
          <div class="jumbotron">
            <h1>Book Store</h1>
            <p>Welcome to Book Store</p>
          </div>
        </div>
      
        <div class="col-sm-4">
          <div class="well">
            <h3>Deciding what to read next?!</h3>
            <p>You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.

              What are your friends reading?
              Chances are your friends are discussing their favorite (and least favorite) books on Goodreads.
              
              </p>
          </div>
        </div>
      </div>
</main>

<footer>
    <%- include('./layouts/footer.ejs')%>
</footer>

</body>
</html>
