
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./layouts/head.ejs'); %>
</head>
<body class="container">

<header>
    <%- include('./layouts/header.ejs')%>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">
          <div class="jumbotron">
            <h1>Book Store</h1>
            <p>Welcome to Book Store</p>
          </div>
        </div>
      
        <div class="col-sm-4">
          <div class="well">
            <h3>Sidebar!</h3>
          </div>
        </div>
      </div>
</main>

<footer>
    <%- include('./layouts/footer.ejs')%>
</footer>

</body>
</html>
