<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head.ejs'); %>
  </head>

  <body class="container">
    <header><%- include('../layouts/header.ejs')%></header>

    <main>
      <div class="jumbotron">
        <h1>This is Book</h1>
        <p>Find Book You Like</p>

        <h2>Book : </h2>
        <ul class="navbar-nav mr-auto">
          <% result.forEach(function(result) { %>
          <li class="nav-item">
            <a class="nav-link" href="/book_genre"><%= result.name %></a>
          </li>
          <% }); %>
        </ul>
      </div>
    </main>

    <footer><%- include('../layouts/footer.ejs')%></footer>
  </body>
</html>
